.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.evidence{
	font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

.query{
	font-size:20px
}

.slider_instruct{
	font-size:16px
}
#title_page {
  background-color: #f9e4d1;
}
#main_chapters {
  background-color: #f9e4d1;
}

.storyText{
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 50px;
	word-wrap: break-word;
	text-justify: inter-word;
	text-align-last: justify;
	text-align: justify;
	margin-left: 40px;
	margin-right: 40px;
}

.storyText:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.storyText.leftJustify:after {
    content: none;
}

/*

*/

.bookTitle{
	font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
  color: #2b2b2b;
  font-size: 80px;
}

.chapterTitle{
	font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
  color: #2b2b2b;
  font-size: 60px;
}

.subtitle{
	font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
  color: #2b2b2b;
  font-size: 60px;
	font-style: italic;
}
/* .query{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
} */

.err{
	color: red;
}

.kind{
	font-size: 16px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.vertical_slider {
	width: 10px;
	height: 300px;
	margin-left: 35px;
	margin-right: 35px
}

.bin_label{
	text-align: center;
}
